##
## OpenISS generated / downloaded files
##

# Objects and executables
*.o
src/api/c/OpenISS

# Touch and cache files
src/api/c/cmake3
src/api/c/epel
src/scripts/build.cache

# Downloaded locally non-OS non-repo packages
src/scripts/dependencies/NVIDIA-Linux-*.run*

# EOF
