[submodule "libfreenect2"]
	path = libfreenect2
	url = https://github.com/OpenKinect/libfreenect2.git
[submodule "libfreenect"]
	path = libfreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "openFrameworks"]
	path = openFrameworks
	url = https://github.com/openframeworks/openFrameworks.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
