##
## OpenISS generated / downloaded files
##

# Objects and executables
*.o
src/api/c/OpenISS

# Touch and cache files
src/api/c/cmake3
src/api/c/epel
src/scripts/build.cache
src/scripts/dependencies/*.cache
make.log

# editor, vim swap/backup files
*.swp
*~

# Downloaded locally non-OS non-repo packages
NVIDIA-Linux-*.run*

# EOF
